@model LabPortugal_Intranet.Models.UsuarioFarmacia

@{
    ViewData["Title"] = "SignUpUserPharmacy";
    Layout = "~/Views/Shared/_Empty.cshtml";
}


<div class="d-flex align-items-center justify-content-center main-container">
    <div class="container">
        <div class="row h-100 ">
            <div class="col m-auto">
                <div class="row ">
                    <img src="../images/laboratorio.jpg" class="" alt="">
                </div>
            </div>
            <div class="col-7 h-100 column-right-c-register" >
                <div class="h-100">
                    <div class="text-center mb-4">
                        <h1 class="fw-bold text-white">Configurar Usuario</h1>
                    </div>
                    <form asp-controller="Auth" asp-action="SignUpUserPharmacy" method="post">
                        <!-- Email input -->
                        <div class="form-outline mb-4 email-input form-field">
                            <div class="input-group overflow-hidden ">
                            <span class="input-group-text">
                                <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" type="button">
                                    <i class="fa fa-user"></i>
                                </button>
                            </span>
                            <input type="text" style="display:none;" id="" asp-for="idFarmacia" class="form-control" autocomplete="off" value="@Model.idFarmacia" />
                            <input type="text" style="display:none;" id="" asp-for="id" class="form-control" autocomplete="off" value="@Model.id" />
                            <input type="text" id="alias" asp-for="alias" class="form-control" placeholder="Ingresar Usuario" autocomplete="off"/>

                            </div>
                        </div>
                          
                        <!-- Password input -->
                        <div class="form-outline mb-4  password-input form-field">
                            <div class="input-group overflow-hidden">
                                <span class="input-group-text">
                                    <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" type="button">
                                        <i class="fa fa-password"></i>
                                    </button>
                                </span>
                                <input type="password" id="contrasena" asp-for="contrasena" class="form-control" placeholder="Ingresar Contraseña" autocomplete="off"/>
                            </div>
                        </div>
                          
                        <!-- 2 column grid layout for inline styling -->

                          
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-block mb-4 w-100 btn-auth btn-auth_registrar  fw-bold text-white">Registrar</button>
                          
                        <!-- Register buttons -->
                            
                        </form>
                          
                </div>
            </div>
        </div>
    </div>
</div>