@model IEnumerable<LabPortugal_Intranet.Models.OrdenCompra>

@{
    ViewData["Title"] = "ListaOrdenCompra";
}
<h2 class="text-center">:::: LISTA ORDEN DE COMPRA::::</h2>
<br />

<p>
    @Html.ActionLink("Ir a lista Farmaco", "VentaProducto")
</p>
