
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Clean.cshtml";
}



<div class="h-100 d-flex justify-content-center align-items-center">
    <div class="">
        <h1>Bienvenido MIFARMA S.A.C.</h1>
    </div>

</div>

