@{
    ViewData["Title"] = "Home Page";
}


<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->

<p>
    @if (!Context.User.Identity.IsAuthenticated)
    {
        <a asp-area="" asp-controller="Home" asp-action="Login">Login</a>
    }
    
</p>

<div>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <div>
            <p>
                Hello @User.Identity.Name
                
            </p>
            <img >
        </div>
        <div>
            <a asp-area="" asp-controller="Home" asp-action="LogOut">LogOut</a>
        </div>
    }
</div>
